venv/
.idea/
.DS_Store
test.mid
# Pycaches
__pycache__/
test*.mid
predicted*.mid
all_tokens.txt
special_tokens.txt
data/
*.zip
*.pyc
locals/
data/
scripts/
*.pyc
*.zip
docs/_build/
docs/_templates/
_build/
_templates/
dist/
build/
*.egg-info/
*.egg
*.egg-info