pytest
pretty_midi
setuptools
sphinx
sphinx_rtd_theme
sphinx_gallery
numpydoc
furo
pytest-cov
sphinx_copybutton
bump2version
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability