pytest
pretty_midi
setuptools
sphinx
sphinx_rtd_theme
sphinx_gallery
numpydoc
furo
pytest-cov
sphinx_copybutton
bump2version
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability